.password__change__card{
    background-color: rgba(var(--d87,255,255,255),1);
    max-width: 935px;
    overflow: hidden;
    width: 100%;
}

.validation__error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}