<div class="card mx-auto mb-5">
  <div class="card-body p-0 row">
    <div class="col-12 col-md-8 pr-md-0">
        <div class="post__card__img">
            <img src="{{ post.image.url }}" style="width: 100%;">
        </div>
    </div>
    <div class="col-12 col-md-4 pl-md-0">
        <div class="card-title post__card__head d-flex justify-content-between px-3 pt-3">
            <div>
                {% if post.user.picture %}
                    <img src="{{ post.user.picture.url }}" class="rounded-circle z-depth-0">
                {% else %}
                    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" class="rounded-circle z-depth-0">
                {% endif %}
                
                <span class="ml-2">
                    <a href="{% url 'profile_view' post.user.username %}" class="text-decoration-none text-reset">{{ post.user.username }}</a>
                </span>
            </div>
        </div>
        <div class="post__card__reactions d-flex justify-content-between py-3 px-3">
            <div class="d-flex">
                <div class="post__like__btn ml-1 mr-2 row">
                    {% if liked_this_post %}
                    <form method="POST" action="{% url 'post_dislike_view' post.pk %}">
                        {% csrf_token %}
                        <button class="btn p-0 m-0" type="submit"><span class="fas fa-heart"></span></button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'post_like_view' post.pk %}">
                        {% csrf_token %}
                        <button class="btn p-0 m-0" type="submit"><span class="far fa-heart"></span></button>
                    </form>
                    {% endif %}
                    <span class="mx-2">{{ post.likes_count }}</span>
                </div>
                <div class="post__comment__btn ml-1 mr-2 row">
                    <span class="far fa-comment"></span>
                    <span class="mx-2">{{ post.comments_count }}</span>
                </div>
            </div>
            <div>
                <div class="post__save__btn">
                    <span class="far fa-bookmark"></span>
                </div>
            </div>
        </div>
        {% if post.text %}
        <div class="post__card__text pt-3 px-2">
            <p>{{ post.text }}</p>
        </div>
        {% endif %}
        <div class="post__card__comments px-2 py-3 border-top border-bottom">
            Comments
        </div>
    </div>
  </div>
</div>