{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/core/post_card.css' %}">
{% endblock %}

<div class="card m-auto" style="max-width: 32rem;">
  <div class="card-body p-0">
    <div class="card-title post__card__head d-flex justify-content-between px-2 pt-3">
        <div>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0">
            <span class="ml-2">
                <a href="{% url 'profile_view' 'iamgaurav' %}" class="text-decoration-none text-reset">iamgaurav</a>
            </span>
        </div>
        <div class="more__options__dot">
            <div class="dropdown">
                <a class="text-reset text-decoration-none" type="button" id="more-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>...</strong>
                </a>
                <div class="dropdown-menu" aria-labelledby="more-options">
                    <a class="dropdown-item" href="#">Share to</a>
                    <a class="dropdown-item" href="#">Go to Post</a>
                    <a class="dropdown-item" href="#">Copy Post</a>
                    <a class="dropdown-item" href="#">Report</a>
                </div>
            </div>
        </div>
    </div>
    <div class="post__card__img">
        <img src="{% static 'img/no-posts1.jpg' %}" style="width: 100%;">
    </div>
    <div class="post__card__reactions d-flex justify-content-between py-3 px-2">
        <div class="d-flex">
            <div class="post__like__btn mx-1">
                <span class="far fa-heart"></span>
                <!-- <span class="fa fa-heart"></span> -->
            </div>
            <div class="post__comment__btn mx-1">
                <span class="far fa-comment"></span>
                <!-- <span class="fa fa-comment"></span> -->
            </div>
        </div>
        <div>
            <div class="post__save__btn">
                <span class="far fa-bookmark"></span>
                <!-- <span class="fa fa-bookmark"></span> -->
            </div>
        </div>
    </div>
  </div>
</div>