{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/user/profile_edit.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <div class="card profile__edit__card m-auto">
                    <div class="card-body offset-md-2">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label col-form-label-sm text-md-right font-weight-bolder" for="{{ field.auto_id }}">{{ field.label }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        {{ field.help_text }}
                                    </small>
                                    <div class="invalid-feedback">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="offset-md-2 my-1">
                                <button class="btn btn-sm btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}